/*********************************************
 * CUSTOM STYLES
 *********************************************/
:root {
  --r-main-font: "Chivo", sans-serif;
  --r-heading-font: "Chivo", sans-serif;
  --r-code-font: monospace;
}

body {
  font-family: "Chivo", sans-serif;
}

#header {
  display: flex;
  align-items: center;
  position: fixed;
  visibility: hidden;
  flex-direction: row;
  padding: 1em;
  z-index: 488;
  color: #808080;
  width: 100%;
  max-height: 10vh;
  min-height: 10vh;
  border-bottom: #181a1b 0.3vh solid;
  gap: 3em;
}

.header-title {
  color: grey !important;
  font-size: 2vh;
}

.header-title.focus {
  color: white !important;
  font-size: 2.9vh;
  animation-name: textgrowth;
  animation-duration: 0.4s;
}

.header-subtitle {
  display: none;
  margin-bottom: 0.2vh;
  font-size: 1.8vh;
  align-self: flex-start;
}

.header-subtitle.active {
  display: flex;
  margin-bottom: 0.2vh;
  font-size: 1.8vh;
  align-self: flex-start;
  animation-name: fade;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
}

.header-subtitle.inactive {
  display: none;
  margin-bottom: 0.2vh;
  font-size: 1.8vh;
  align-self: flex-start;
  animation-name: fade;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
  animation-direction: reverse;
}

.bulletpoint {
  fill: grey;
  width: 8px;
  height: 8px;
}

.bulletpoint.focus {
  fill: white;
  width: 1vh;
  height: 1vh;
  animation-name: bulletgrowth;
  animation-duration: 0.4s;
}

.agenda-entry > svg,
.agenda-entry > img,
.agenda-entry > object {
  margin: 0 !important;
  min-height: 60px !important;
  max-height: 60px !important;
  max-width: 60px !important;
  fill: white;
}

.agenda-entry embed {
  margin: 0 !important;
  min-height: 60px !important;
  max-height: 60px !important;
  max-width: 60px !important;
}

@keyframes textgrowth {
  from {
    fill: grey;
    font-size: 2vh;
  }
  to {
    fill: white;
    font-size: 2.9vh;
  }
}

@keyframes bulletgrowth {
  from {
    width: 8px;
    height: 8px;
  }
  to {
    width: 1vh;
    height: 1vh;
  }
}

@keyframes fade {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}
